body
{
	background-color: #eef;
}

#content
{
	margin-left: 20px;
}

div.flash-messages
{
	min-height: 4em;
}

table, th, td
{
    padding:7px;
    vertical-align: top;
}

.note
{
    border: 1px solid black;
    padding: 0.5em;
    background-color: white;
    min-height: 1em;
}
