body {
	background-color: #eef;
}

#content {
	margin-left: 20px;
}

div.flash-messages {
	min-height: 4em;
}

table {
    
    
}

table * td {
    padding:5px;
}

.note {
    border: 1px solid black;
    padding: 0.5em;
    background-color: white;
    min-height: 1em;
}
