{%  extends "layout.html" %}

	{%  block title %}Notes{%  endblock %}

	{%  block content %}
 		<h1>Notes</h1>		
		
		<form action="/write" method="POST">
			<input name="title" id="title" width="30" value={{title}}></input>
			<br>
			<textarea name="content" id="content" cols="50" rows="4"></textarea>
			<input type="submit" value="Save">
			<input type="button" onclick="window.href='/'" value="Cancel">
		</form>
		
  		<!-- Include stylesheet -->
		<link href="https://cdn.quilljs.com/1.0.0-rc.2/quill.snow.css" rel="stylesheet">

		<!-- Create the editor container -->
		<div id="editor"></div>

		<!-- Include the Quill library -->
		<script src="https://cdn.quilljs.com/1.0.0-rc.2/quill.js"></script>
		
		<!-- Initialize Quill editor -->
		<script type="text/javascript">
		  var quill = new Quill('#editor',
		  {
	        modules:
		    {
  		      toolbar: [[{ 'size': ['small', false, 'large', 'huge'] }],
				['bold', 'italic', 'underline', 'strike'], 
  				[{ 'list': 'ordered'}, { 'list': 'bullet' }],
  				[{ 'script': 'sub'}, { 'script': 'super' }],
				[{ 'color': [] }], 
  				[{ 'font': [] }],
  				[{ 'align': [] }]]
		    },
		    theme: 'snow'
		  });
		</script>

	{%  endblock %}
