{%  extends "layout.html" %}

	{%  block title %}Notes{%  endblock %}

	{%  block content %}
       <script type="text/javascript">
        tinymce.init({
          selector: 'textarea',
          height: 500,
          toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
        });
        </script>

		<form action="/save/{{note['_id']}}" method="POST">
			<input name="title" id="title" width="30" value="{{note['title']}}"></input>
			<br>
			<textarea name="text" id="text">
				{{note['text']}}
		    </textarea>
			<br>
			<input type="submit" value="Save">
		</form>
	{%  endblock %}
