{%  extends "layout.html" %}

  {%  block title %}Notes{%  endblock %}

  {%  block content %}
    <h1>Notes</h1>
    <form action="/note/SampleTitle">     
         <button>New Note</button>
    </form>

    {% if notes|length > 0 %}
    <br>		
    <table style="width:100%">
      <tr>
       <th>Title</th>
       <th>Text</th>
      </tr>
     {% for n in notes %}
     
      <tr>
	<td>
	 <form action="/note/{{n['title']}}">
         
         <button>{{n["title"]}}</button>
         </form>
	</td>
	<td>
         <textarea readonly>{{n["text"]}}</textarea>
	</td>
      </tr>
     {% endfor %}
    {% endif %}
     </table>
	{%  endblock %}
